.ybbybbybbybb {
  color: red;
  background-color: #fff;
  float: left;
  background-position: 0 0;
  line-height: 20px;
}
.ybb {
  color: red;
  background-color: #fff;
  float: left;
  background-position: 0 0;
  line-height: 20px;
}
