html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
  font-size: 0.512rem;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
/* 去掉各 Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 来自 yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* 正常链接 未访问 */
/* 鼠标悬停 */
a:hover {
  text-decoration: underline;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
}
body {
  background-color: #f6f6f6;
}
/* Border-radius*/
.square {
  border-radius: 0;
}
.radius {
  border-radius: 2px;
}
.round {
  border-radius: 9999px;
}
.circle {
  border-radius: 50%;
}
/* Float blocks*/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.nbfc {
  overflow: hidden;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Display */
.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.hide {
  display: none !important;
  visibility: hidden !important;
}
.ellipsis,
.text-truncate {
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-break {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.text-nowrap {
  white-space: nowrap;
}
.align-left {
  margin-right: 1rem;
  float: left;
}
.align-right {
  margin-left: 1rem;
  float: right;
}
.text-top {
  vertical-align: top !important;
}
.text-middle {
  vertical-align: middle !important;
}
.text-bottom {
  vertical-align: bottom !important;
}
.text-center {
  text-align: center;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.mt20 {
  margin-top: 0.42666667rem;
}
.gd-red {
  color: #f65f4b !important;
}
.gdm-title {
  color: #464f54;
  font-size: 0.768rem;
}
i.iconfont {
  font-size: 0.68266667rem;
}
.taglist {
  padding-top: 0.42666667rem;
}
.taglist .tag {
  display: inline-block;
  float: left;
  margin: 0 0.42666667rem 0.42666667rem 0;
  padding: 0.17066667rem 0.46933333rem;
  font-size: 0.46933333rem;
  background-color: #eaeeef;
  border-radius: 0.17066667rem;
  color: #464f54;
  font-weight: bold;
}
.gd-price {
  display: inline-block;
  font-weight: bold;
}
.gd-price .rem {
  font-family: arial;
  font-size: 0.64rem;
  margin-right: 0.064rem;
  color: #f56d5d;
}
.gd-price .price {
  color: #f56d5d;
  font-size: 0.85333333rem;
}
.gd-price .per {
  color: #f56d5d;
  font-size: 0.42666667rem;
}
/*.@{ns}panel-variant(@border; @hd-text-color; @hd-bg-color; @hd-border) {
  border-color: @border;

  & > .@{ns}panel-hd {
    color: @hd-text-color;
    background-color: @hd-bg-color;
    border-color: @hd-border;

    + .@{ns}panel-collapse > .@{ns}panel-bd {
      border-top-color: @border;
    }
  }

  & > .@{ns}panel-footer {
    + .@{ns}panel-collapse > .@{ns}panel-bd {
      border-bottom-color: @border;
    }
  }
}*/
/* ==========================================================================
   Component: Panel
 ============================================================================ */
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* Panel header */
.panel-hd {
  padding: 0.64rem;
  border-bottom: 1px solid #e5e5e5;
}
/* Panel content */
.panel-bd {
  padding: 0.64rem;
}
.panel-bd .panel-title {
  color: #464f54;
}
.panel-title {
  margin: 0;
  font-size: 100%;
  color: #88939a;
}
.panel-title > a {
  color: #88939a;
}
/* Panel footer */
/*.@{ns}panel-footer {
  padding: @panel-footer-padding;
  background-color: @panel-footer-bg;
  border-top: 1px solid @panel-inner-border;
  .border-bottom-radius(@panel-border-radius);
  .hook-panel-footer;
}*/
.panel > .table {
  margin-bottom: 0;
}
.panel > .table:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 0;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 0;
}
.panel > .table:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 0;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 0;
}
.panel > .panel-bd + .table {
  border-top: 1px solid #dddddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bd {
  border: 0;
}
.panel > .table-bd > thead > tr > th:first-child,
.panel > .table-bd > tbody > tr > th:first-child,
.panel > .table-bd > tfoot > tr > th:first-child,
.panel > .table-bd > thead > tr > td:first-child,
.panel > .table-bd > tbody > tr > td:first-child,
.panel > .table-bd > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bd > thead > tr > th:last-child,
.panel > .table-bd > tbody > tr > th:last-child,
.panel > .table-bd > tfoot > tr > th:last-child,
.panel > .table-bd > thead > tr > td:last-child,
.panel > .table-bd > tbody > tr > td:last-child,
.panel > .table-bd > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bd > thead > tr:first-child > td,
.panel > .table-bd > tbody > tr:first-child > td,
.panel > .table-bd > thead > tr:first-child > th,
.panel > .table-bd > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bd > tbody > tr:last-child > td,
.panel > .table-bd > tfoot > tr:last-child > td,
.panel > .table-bd > tbody > tr:last-child > th,
.panel > .table-bd > tfoot > tr:last-child > th {
  border-bottom: 0;
}
/* Wrap list */
.panel > .list {
  margin: 0;
}
.panel > .list > li > a {
  padding-left: 1rem;
  padding-right: 1rem;
}
.panel > .list-static li {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Panel group */
.panel-group {
  margin-bottom: 0rem;
}
.panel-group .panel {
  border-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}
.panel-group .panel.first-child {
  border-top: 1px solid #dddddd;
}
.panel-title {
  font-size: 0.64rem;
  font-weight: bold;
}
.panel-bd {
  font-size: 0.55466667rem;
}
.panel-more {
  height: 1.92rem;
  line-height: 1.92rem;
  border-top: 1px solid #e5e5e5;
  font-size: 0.64rem;
  cursor: pointer;
}
/* flexslider */
.flexslider {
  position: relative;
  height: 5.54666667rem;
  overflow: hidden;
  background: url(/images/flexslider/loading.gif) 50% no-repeat;
}
.slides {
  position: relative;
  z-index: 1;
}
.slides li {
  height: 5.54666667rem;
  background-size: cover !important;
}
.flex-control-nav {
  position: absolute;
  bottom: 0.21333333rem;
  z-index: 2;
  width: 100%;
  text-align: center;
}
.flex-control-nav li {
  display: inline-block;
  width: 0.29866667rem;
  height: 0.29866667rem;
  margin: 0 0.10666667rem;
  *display: inline;
  zoom: 1;
}
.flex-control-nav a {
  display: inline-block;
  width: 0.29866667rem;
  height: 0.29866667rem;
  line-height: 0.85333333rem;
  overflow: hidden;
  background: url(/images/flexslider/dot.png) right 0 no-repeat;
  cursor: pointer;
  text-indent: -9999px;
}
.flex-control-nav .flex-active {
  background-position: 0 0;
}
.flex-direction-nav {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 45%;
}
.flex-direction-nav li a {
  display: block;
  width: 1.06666667rem;
  height: 1.06666667rem;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
}
.flex-direction-nav li a.flex-prev {
  left: 0.85333333rem;
  background: url(/images/flexslider/prev.png) center center no-repeat;
}
.flex-direction-nav li a.flex-next {
  right: 0.85333333rem;
  background: url(/images/flexslider/next.png) center center no-repeat;
}
.gdt-card {
  margin: 0.42666667rem 0;
  position: relative;
}
.gdt-card .userimgbox {
  position: absolute;
  right: 0.64rem;
  top: -0.85333333rem;
}
.gdt-card p {
  color: #88939a;
}
.userimg {
  width: 1.92rem;
  border: 1px solid #e3e3e6;
}
.main-title {
  text-align: center;
  line-height: 1.45066667rem;
  font-size: 0.59733333rem;
}
.zfw-list-nav {
  background-color: #fff;
  margin-bottom: 0.53333333rem;
}
.zfw-list-nav li {
  float: left;
  width: 25%;
  text-align: center;
  margin: 0.42666667rem 0;
}
.zfw-list-nav li > div {
  width: 1.70666667rem;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.zfw-list-nav .icon {
  display: inline-block;
  width: 1.70666667rem;
  height: 1.49333333rem;
  background-image: url("/images/zfw_list_icon_20151109_49x475.png");
  background-repeat: no-repeat;
  background-size: 1.04533333rem 10.13333333rem;
}
.zfw-list-nav .icon-zp {
  background-position: 0.32rem 0.29866667rem;
}
.zfw-list-nav .icon-fl {
  background-position: 0.32rem -0.98133333rem;
}
.zfw-list-nav .icon-gl {
  background-position: 0.32rem -7.59466667rem;
}
.zfw-list-nav .icon-yx {
  background-position: 0.32rem -2.304rem;
}
.zfw-list-nav .icon-jr {
  background-position: 0.32rem -5.01333333rem;
}
.zfw-list-nav .icon-hlw {
  background-position: 0.32rem -8.96rem;
}
.zfw-list-nav .icon-px {
  background-position: 0.32rem -3.62666667rem;
}
.zfw-list-nav .icon-qt {
  background-position: 0.32rem -6.22933333rem;
}
