@ppr:     750px/16/1rem;
.gd-price {
	display: inline-block;
	font-weight: bold;
	.rem {
		font-family: arial;
	    font-size: 30/@ppr;
	    margin-right: 3/@ppr;
	    color: #f56d5d;
	}
	.price {
		color: #f56d5d;
		font-size: 40/@ppr;
	}
	.per {
		color: #f56d5d;
		font-size: 20/@ppr;
	}
}