.taglist {
	padding-top: 20/@ppr;
	.tag {
		display: inline-block;
		float: left;
		margin: 0 20/@ppr 20/@ppr 0;
		padding: 8/@ppr 22/@ppr;
		font-size: 22/@ppr;
		background-color: #eaeeef;
		border-radius: 8/@ppr;
		color: #464f54;
		font-weight: bold;
	}
}