@ppr: 750px/16/1rem;
@fcolor1:#464f54;
@fcolor2:#88939a;
@import "modules/mixins.less";
@import "modules/base.less";
@import "modules/utility.less";
@import "modules/tag.less";
@import "modules/gd-price.less";
@import "modules/panel.less";
@import "modules/flexslider.less";

//==============列表页的用户卡片========================//
.gdt-card {
	margin: 20/@ppr 0;
	position: relative;
	.userimgbox {
		position: absolute;
		right: 30/@ppr;
		top: -40/@ppr;
	}
	p {
		color: #88939a;
	}
}
//==============普通用户头像========================//
.userimg {
	width: 90/@ppr;
	border: 1px solid #e3e3e6;
}
.main-title {
	text-align: center;
	line-height: 68/@ppr;
	font-size: 28/@ppr;
}
.zfw-list-nav {
	background-color: #fff;
	margin-bottom: 25/@ppr;
	li {
		float: left;
		width: 25%;
		text-align: center;
		> div {
			width: 80/@ppr;
			display: inline-block;
			text-align: center;
			cursor: pointer;
		}
		margin: 20/@ppr 0;
	}
	.icon {
		display: inline-block;
		width: 80/@ppr;
		height: 70/@ppr;
		background-image: url("/images/zfw_list_icon_20151109_49x475.png");
		background-repeat: no-repeat;
		background-size: 49/@ppr 475/@ppr;
		&-zp {
			background-position: 15/@ppr 14/@ppr;
		}
		&-fl {
			background-position: 15/@ppr  -46/@ppr;
		}
		&-gl {
			background-position: 15/@ppr  -356/@ppr;
		}
		&-yx {
			background-position: 15/@ppr  -108/@ppr;
		}
		&-jr {
			background-position: 15/@ppr  -235/@ppr;
		}
		&-hlw {
			background-position: 15/@ppr  -420/@ppr;
		}
		&-px {
			background-position: 15/@ppr  -170/@ppr;
		}
		&-qt {
			background-position: 15/@ppr  -292/@ppr;
		}
	}
}




